/* ==========================================================================
   #BASE GLOBAL
   ========================================================================== */

/**
 * Resets, unclassed (bare) elements.
 *
 * 1. Ensure the page always fills at least the entire height of the viewport.
 *
 * 2. Set the default `font-size` and `line-height` for the entire project,
 *    sourced from our default variables. The `font-size` is calculated to exist
 *    in ems, the `line-height` is calculated to exist unitlessly.
 *
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
	height: 100%; /* [1] */
	min-height: 100%; /* [1] */
	font-family: $base-font-family;
	font-size: $base-font-size; /* [2] */
	line-height: $base-line-height / $base-font-size; /* [2] */
	text-size-adjust: 100%; /* [3] */
}

body {
	height: 100%; /* [1] */
	min-height: 100%; /* [1] */
	margin: 0;
	background: #e5e5e5;  /* fallback for old browsers */
/*background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);   Chrome 10-25, Safari 5.1-6 */
/*background: linear-gradient(to right, #CFDEF3, #E0EAFC);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

button,
input,
optgroup,
select,
textarea {
	font-family: $base-font-family;
}

/**
 * Simple reset
 */

body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
	margin:  0;
	padding: 0;
}

article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main {
	display: block;
}

button {
	cursor: pointer;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}


/**
 * Remove trailing margins from nested lists.
 */

li > {
	ol,
	ul {
		margin-bottom: 0;
	}
}

img {
	display: inline-block;
	max-width: 100%;
	height: auto;
	border-style: none;
}

textarea {
	display: block;
	margin: 0;
	outline: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	appearance: none;
}
// popover-container.popover.in.popover-top.bs-popover-top.top.show {
//     display: block;
//     padding: 10px;
//     position: absolute;
//     z-index: 1000;
//     background: #fefefe;
// 	box-shadow:1px 1px 4px 2px #b3aaaa;
// 	border-radius: 3px;
// 	left: 55px;
// 	}
	

// h3.popover-title.popover-header {
// 		font-size: 14px;
// 		font-weight: 600;
// 		background: #ddd;
// 		padding: 7px;
// 		border-radius: 3px 0 0;
// 	}

// .popover-content.popover-body {
// 		font-size: 14px;
// 		padding: 6px;
// }

.fixed-bottom{
    position: fixed !important;
    z-index: 1;
    bottom: 0 !important;
    left: 0;
    right: 0 !important;
    padding: 8px 28px;
    background-color: #fff;
    border-top: 1px solid #d5d5d5;
    box-shadow: 1px -2px 4px #cccccc8f;
}