/* ==========================================================================
   #INVOICE
   ========================================================================== */

.bbk-invoice {
	position: relative;
	padding: $spacer-xlarge $spacer-xlarge $spacer;
	border: $base-border-width solid $base-border-color;
	border-radius: $base-border-radius;
	background-color: $base-background-color;
	color: $heading-color;
	box-shadow: 0 0 10px 1px rgba(53,64,82,0.1);

	@include respond-to($breakpoint-tablet) {
		padding: $spacer;
	}
}

/**
 * Invoice Header
 *
 * Contains:
 * - compnay's name & logo 
 * - invoice's title & date
 */

.bbk-invoice__header {
	display: flex;
	justify-content: space-between;
	margin-bottom: $spacer-large;

	@include respond-to($breakpoint-tablet) {
		flex-flow: column;
	}
}

.bbk-invoice__brand {
	margin-bottom: $spacer;

	@include respond-to($breakpoint-tablet) {
		margin: 0;
	}
}

.bbk-invoice__brand-img {
	max-width: 40px;
	margin-bottom: $spacer-small;
}

.bbk-invoice__brand-name {
	font-size: $h3-font-size;
}

.bbk-invoice__title {
	margin-top: $spacer;

	h4 {
		margin: 0;
	}
}

.bbk-invoice__date {
	color: $color-mute;
}

/**
 * Invoice Details
 *
 */

.bbk-invoice__details {
	display: flex;
	justify-content: space-between;
	margin-bottom: $spacer-xlarge;
}


.bbk-invoice__company-name {
	margin-bottom: $spacer-small;
	font-size: $h4-font-size;
}

.bbk-invoice__company-address {
	margin-bottom: $spacer-small;
	color: $color-mute;
}

/**
 * Invoice content
 */

.bbk-invoice__body {
	display: flex;

	@include respond-to($breakpoint-tablet) {
		flex-flow: column;
	}
}

.bbk-invoice__desc {
	flex: 0 1 250px;
	font-size: $h4-font-size;

	@include respond-to($breakpoint-tablet) {
		flex: 0;
		margin-bottom: $spacer;
	}
}

.bbk-invoice__number {
	color: $color-mute;
	font-size: $text-font-size;
}

.bbk-invoice__table {
	width: 100%;

	.bbk-table {
		margin-bottom: $spacer-xsmall;

		@include respond-to($breakpoint-tablet) {
			display: table;
			width: 100%;
		}
	}
}

.bbk-invoice__terms {
	color: $color-mute;
	font-size: $text-font-size;
}

/**
 * Footer
 */

.bbk-invoice__footer {
	display: flex;
	justify-content: space-between;
	margin-top: $spacer-xlarge;
	padding-top: $spacer;
	border-top: $base-border-width solid $base-border-color;

	@include respond-to($breakpoint-mobile) {
		flex-flow: column;
		text-align: center;
	}
}

.bbk-invoice__footer-brand {
	display: flex;
	align-items: center;

	@include respond-to($breakpoint-mobile) {
		flex-flow: column;
		justify-content: center;
	}
}

.bbk-invoice__footer-brand img {
	max-width: 30px;
	margin-right: $spacer-xsmall;

	@include respond-to($breakpoint-mobile) {
		margin-bottom: $spacer-xsmall;
	}
}
