/* ==========================================================================
   #BUTTON GROUP
   ========================================================================== */

/**
 * A series of buttons grouped together on a single line.
 */

.bbk-btn-group {
	display: inline-flex;

	> .bbk-btn:first-child {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	> .bbk-btn:last-child {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	> .bbk-btn:not(:first-child):not(:last-child) {
		border-radius: 0;
	}

	> .bbk-btn + .bbk-btn {
		border-left: 0;
	}
}


/**
 * Force button group to take full width.
 */

.bbk-btn-group--fullwidth {
	display: flex;
	width: 100%;

	> .bbk-btn {
		width: 100%;
	}
}
