/* ==========================================================================
   #ICONS
   ========================================================================== */

/**
 * Add rounded/circular box background to any icon.
 *
 * USAGE: 
 *      
 * <div class="bbk-icon bbk-icon--large bbk-icon--success">
 *     <i class="fa fa-facebook"></i>
 * </div>
 */

.bbk-icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	border-radius: $base-border-radius;
	background: $color-info;
	color: $white;
	font-size: $h4-font-size;

	&:hover {
		color: $white;
		text-decoration: none;
	}
}

// circular icon
.bbk-icon--circle {
	border-radius: 100%;
}


/* Size variants
   ========================================================================== */

.bbk-icon--large {
	width: 60px;
	height: 60px;
	font-size: $h3-font-size;
}

.bbk-icon--small {
	width: 40px;
	height: 40px;
	font-size: $h6-font-size;
}


/* Style variants
   ========================================================================== */

.bbk-icon--success {
	@include linear-gradient(to bottom, $gradient-success);
}

.bbk-icon--info {
	@include linear-gradient(to bottom, $gradient-info);
}

.bbk-icon--warning {
	@include linear-gradient(to bottom, $gradient-warning);
}

.bbk-icon--danger {
	@include linear-gradient(to bottom, $gradient-danger);
}

.bbk-icon--fancy {
	@include linear-gradient(to bottom, $gradient-fancy);
}
