/* ==========================================================================
   #DROPDOWN
   ========================================================================== */

/**
 * A wrapper for the dropdown
 */

.bbk-dropdown {
	display: inline-block;
	position: relative;
}


/**
 * Dropdown Menu
 * 
 * 1. No matter what size is the dropdown toggle `dropdown-toggle` (a class from
 *    bootstrap), dropdown menu should be positioned properly.
 */

.bbk-dropdown__menu {
	position: absolute;
	top: 100%; /* [1] */
	right: 0;
	width: $dropdown-menu-width;
	margin: 5px 0 0;
	transition: visibility 0.3s ease, opacity 0.3s ease;
	border: $dropdown-menu-border-width solid $dropdown-menu-border-color;
	border-radius: $dropdown-menu-border-radius;
	background-color: $dropdown-menu-background-color;
	text-align: left;
	box-shadow: $dropdown-menu-box-shadow;
	z-index: $z-index-400;

	.bbk-dropdown &,
	.dropdown & {
		opacity: 0;
		visibility: hidden;
	}

	.bbk-dropdown.show &,
	.dropdown.show & {
		opacity: 1;
		visibility: visible;
    }
}


/**
 * A larger dropdown menu for dropdowns used in navbar.
 */

.bbk-dropdown__menu--large {
	width: $dropdown-menu-large-width;

	.bbk-dropdown__item {
		padding: $dropdown-item-large-padding;
	}
}

/**
 * 1. Remove border from last item to prevent it from collapsing with dropdown
 *    menu's last border.
 */

.bbk-dropdown__item {
	display: block;
	padding: $dropdown-item-padding;
	border-bottom: $dropdown-item-border-width solid $dropdown-item-border-color;
	color: $dropdown-item-color;
	font-size: $text-font-size;
	font-weight: $dropdown-item-font-weight;

	&:hover {
		background-color: $dropdown-item-hover-background-color;
		color: $dropdown-item-hover-color;
		text-decoration: none;
	}

	&:last-child {
		border-bottom: 0; /* [1] */
	}
}


//custom typeahead




.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.dropup .dropdown-menu {
  margin-top: 0;
  margin-bottom: 0.125rem;
}

.dropup .dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0;
  border-right: 0.3em solid transparent;
  border-bottom: 0.3em solid;
  border-left: 0.3em solid transparent;
}

.dropup .dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropright .dropdown-menu {
  margin-top: 0;
  margin-left: 0.125rem;
}

.dropright .dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid transparent;
  border-bottom: 0.3em solid transparent;
  border-left: 0.3em solid;
}

.dropright .dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropright .dropdown-toggle::after {
  vertical-align: 0;
}

.dropleft .dropdown-menu {
  margin-top: 0;
  margin-right: 0.125rem;
}

.dropleft .dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
}

.dropleft .dropdown-toggle::after {
  display: none;
}

.dropleft .dropdown-toggle::before {
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid transparent;
  border-right: 0.3em solid;
  border-bottom: 0.3em solid transparent;
}

.dropleft .dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropleft .dropdown-toggle::before {
  vertical-align: 0;
}

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  font-size: 14px;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}

.dropdown-item.active, .dropdown-item:active {
  color: #222;
  text-decoration: none;
  background-color: #aaa;
}

.dropdown-item.disabled, .dropdown-item:disabled {
  color: #6c757d;
  background-color: transparent;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-header {
  display: block;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  color: #6c757d;
  white-space: nowrap;
}
.cuppa-dropdown .c-token {
    background: #232d3c !important;
}

typeahead-container.dropdown {
  width: 100%!important;
}

typeahead-container.dropdown .dropdown-item  {
  width: 100% !important;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
}