/* ==========================================================================
   #SWITCH
   ========================================================================== */

/**
 * 1. Radius of `toggle` should be equal to radius of `bbk-switch`.
 * 2. The small circle that move to the right and left.
 * 3. Calculation: (width of switch bar) - (toggle's width + 2px )
 * 4. Don't allow active state on a disabled switch.
 */

.bbk-switch {
	display: inline-flex;
	position: relative;
	flex-wrap: wrap;
	align-items: center;
	cursor: pointer;

	&::before {
		display: inline-block;
		position: relative;
		width: $switch-width;
		height: $switch-height;
		transition: all .3s;
		border: 1px solid $base-border-color;
		border-radius: $switch-border-radius;
		background-color: $switch-background-color;
		content: " ";
	}

	&::after { /* [2] */
		position: absolute;
		top: 3px;
		left: 3px;
		width: $switch-toggle-width;
		height: $switch-toggle-height;
		transition: all .3s;
		border-radius: $switch-border-radius; /* [1] */
		background-color: $switch-toggle-background-color;
		content: " ";
	}

	// switch is (on)
	&.is-active {

		&::before {
			background-color: $switch-active-background-color;
		}

		&::after {
			left: 25px; /* [3] */
		}
	}

	&.is-disabled {
		cursor: not-allowed;

		&::after {
			opacity: 0.5;
		}

		&.is-active { /* [4] */
			&::before {
				background-color: $switch-background-color;
			}

			&::after {
				right: 2px;
			}
		}
	}
}


/**
 * 1. Hide input to replace it with switch-style input
 */

.bbk-switch__input {
	display: none; /* [1] */
}

.bbk-switch__label {
	margin: $switch-label-margin;
	color: $switch-label-color;
	font-size: $switch-label-font-size;
	user-select: none;
}


.switch_box{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	           justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
            float: left;

			.text{
		margin-left: 5px;
    color: #273142;
    font-size: 0.875rem;
    font-weight: 700;
	}
}

/* Switch 1 Specific Styles Start */

.box_1{
	background: #fff;
}

input[type="checkbox"].switch_1{
	font-size: 14px;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	width: 3.5em;
	height: 2em;
	background: #ddd;
	border-radius: 3em;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;

	
  }
  
  input[type="checkbox"].switch_1:checked{
	background: #1bb934;
  }
  
  input[type="checkbox"].switch_1:after{
	position: absolute;
	content: "";
	width: 2em;
	height: 2em;
	border-radius: 50%;
	background: #fff;
	-webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
	        box-shadow: 0 0 .25em rgba(0,0,0,.3);
	-webkit-transform: scale(.7);
	        transform: scale(.7);
	left: 0;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
  }
  
  input[type="checkbox"].switch_1:checked:after{
	left: calc(100% - 2em);
  }