/* ==========================================================================
   #NAVBAR
   ========================================================================== */

/**
 * The site's main page header, used as a wrapper for its sub-components.
 */

.bbk-navbar {
	display: flex;
	position: relative;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	min-width: 100%;
	/*min-height: $navbar-height;*/
	padding:4px 16px 4px 4px;
	
	/*border-bottom: 2px solid #ea0227;*/
	background-color: $navbar-background-color;
	    background: rgb(255,255,255);
		position: fixed;
		z-index:500;
		box-shadow: 1px 1px 1px rgba(165, 165, 165, 0.25);
    /*background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);*/
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );

	@include respond-to($breakpoint-tablet){
		padding: $spacer-xsmall $spacer-small;
	}
}


/**
 * Set a fixed width for search input when placed in navbar.
 */

.bbk-navbar__search {
	width: 270px !important;
}

/**
 * 1. Custom width, height is specififed for proper alignment, adding your own 
 *    brand/logo image will require custom styles for proper alignment.
 * 2. On small screens, seperate logo/brand from other navbar components as 
 *    navbar links would be collapsed.
 */

.bbk-navbar__brand {
	display: inline-block;
	width: $navbar-brand-width; /* [1] */
	height: $navbar-brand-height; /* [1] */
	margin: $navbar-brand-margin;

	@include respond-to($breakpoint-tablet){
		margin-right: auto; /* [2] */
	}
}

.bbk-navbar__title {
	margin: 0;
	padding: 0;
	font-size: $h5-font-size;
}


/* Style variants
   ========================================================================== */

/**
 * Use `bbk-navbar--inverse` for dark background colors.
 *
 */

.bbk-navbar--inverse {
	@include linear-gradient(to bottom, $blue-300, $blue-400);

	.bbk-nav,
	.bbk-nav__item {
		border-color: $blue-200;
	}

	.bbk-nav__link {
		color: $white;
	}

	.bbk-avatar.has-dropdown::after {
		color: $white;
	}

	.bbk-nav-toggle__icon,
	.bbk-nav-toggle__icon::before,
	.bbk-nav-toggle__icon::after {
		background-color: $base-background-color;
		opacity: 0.95;
	}
}
