/* ==========================================================================
   #CARD
   ========================================================================== */

/**
 * A simple component to apply card-like style, used with genearal widgets that 
 * have sub-components in it.
 */

.bbk-card {
	position: relative;
	/*border: $card-border-width solid $card-border-color;*/
	/*border-radius: $card-border-radius;*/
	background-color: $card-background-color;
	    border-top: 2px solid #232d3c;
}


/**
 * 1. Display a scrollbar if the content of the card is larger than the 
 *    card's width.
 */

.bbk-card--responsive {
	overflow: auto; /* [1] */
}


/**
 * 1. Align header's content vertically in the center
 */

.bbk-card__header {
	padding: $card-header-padding;
	border-bottom: $card-border-width solid $card-border-color;
	background-color: $card-header-background-color;
}


/**
 * Remove default background-color of card's header
 */

.bbk-card__header--transparent {
	background-color: transparent;
}

.bbk-card__title {
	margin: 0;
	font-size: $card-title-font-size;
}

.bbk-card__meta {
	color: $card-meta-color;
	font-size: $card-meta-font-size;
}

.bbk-card__icon {
	display: flex;
	position: absolute;
	top: -35px;
	right: 0;
	left: 0;
	align-items: center;
	justify-content: center;
	width: 70px;
	height: 70px;
	margin: 0 auto;
	border-radius: 100%;
	color: $card-icon-color;
	font-size: $card-icon-font-size;
	@include linear-gradient(to bottom, $gradient-info);

	&:hover i {
		color: inherit;
		text-decoration: none;
	}
}

.bbk-card__body {
	padding: $card-body-padding;
}

.block {
      width:97% !important;
}

.noseat+label{
    visibility: hidden;
}

.noseat+label+span{
	visibility: hidden;
}

.num {
	font-weight: bold;
    position: absolute;
    font-size: 12px;
    background-color: white;
	padding: 10px;
	text-align: center;
    // width: 20px;
    // height: 20px;
    // display: flex;
    // align-items: center;
	// justify-content: center;
	border: 2px solid;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
}

.seat {
    // display: flex;
    // align-items: center;
	// justify-content: center;
	position: relative;
}
