/* ==========================================================================
   #RANGES
   ========================================================================== */

// sass-lint:disable no-vendor-prefixes

.bbk-range {
	width: 100%;
	outline: 0;
	appearance: none;
}

.bbk-range--inline {
	width: 96px;
}

.bbk-range::-webkit-slider-thumb {
	position: relative;
	top: -4px;
	width: $range-thumb-width;
	height: $range-thumb-height;
	border-radius: 100%;
	cursor: pointer;
	appearance: none;
	@include linear-gradient(to bottom, $range-thumb-gradient);
}

.bbk-range::-webkit-slider-runnable-track {
	height: $range-track-height;
	border-radius: $range-track-border-radius;
	background-color: $range-track-background-color;
}
