/* ==========================================================================
   #PANEL
   ========================================================================== */

/**
 * Panels acts like a secondry sidebar, usually placed on the opposite side of
 * sidebar, in the case of Dashboad's design it's placed in the right.
 *
 * 1. Remove top border from panel to avoid collapsing with navbar's border.
 */

.bbk-panel {
	height: 100%;
	margin: 0;
	padding: $spacer;
	border: $base-border-width solid $base-border-color;
	border-top: 0; /* [1] */
	background-color: $base-background-color;
}

.bbk-panel__title {
	margin-bottom: $spacer;
	font-size: $text-large-font-size;
}

.bbk-panel__widget {
	&::after {
		display: block;
		height: $base-border-width; // because it acts like a border
		margin: $spacer 0;
		background-color: $base-border-color;
		content: " ";
		opacity: 0.5;
	}

	&:last-child::after {
		content: none;
	}
}

.panel-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}

.right-panel .panel-body {
	padding: 10px;
	font-size: 14px;
	color: #5a5a5a;
	overflow-y: auto;
	max-height: 120px;
}