.login-bg{
    background-image: url(assets/img/login-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.login-page{
    display: block;
    padding-top: 24vh;
   
}