/* ==========================================================================
   #SIDEBAR MINIMUZED
   ========================================================================== */

/**
 * This file contains all customization for minimized-style sidebar.
 */

/**
 * This sidebar object
 */

@media (max-width: $breakpoint-desktop) {
	.bbk-sidebar.is-minimized .bbk-sidebar__icon {
		margin-right: 15px;
	}
}

@media (min-width: $breakpoint-desktop) {

	.o-page__sidebar.is-minimized {
		width: 70px;
	}

	.o-page__sidebar.is-minimized + .o-page__content {
		margin-left: 70px;
		transition: margin .3s;
	}

	/**
	 * On Hover
	 */

	.o-page__sidebar.is-minimized:hover {
		width: 250px;
	}

	.o-page__sidebar.is-minimized:hover + .o-page__content {
		margin-left: 250px;
	}


	/**
	 * This sidebar component
	 */

	.bbk-sidebar.is-minimized {
		width: 70px;
		overflow-x: hidden;
		transition: width .3s;
	}

	.bbk-sidebar.is-minimized .bbk-sidebar__brand {
		padding: 10px;
	}

	.bbk-sidebar.is-minimized .bbk-sidebar__brand-img {
		margin-right: 15px;
	}

	.bbk-sidebar.is-minimized .bbk-sidebar__item {
		border-bottom: 1px solid #2a3547;
	}

	.bbk-sidebar.is-minimized .bbk-sidebar__link {
		padding: 0;
	}

	.bbk-sidebar.is-minimized .bbk-sidebar__icon {
		display: block;
		min-width: 70px;
		padding: 15px 0;
		font-size: 20px;
		text-align: center;
	}

	.bbk-sidebar.is-minimized .bbk-sidebar__item.has-submenu > .bbk-sidebar__link::after {
		display: none;
		top: 20px;
	}


	/**
	 * On Hover
	 */

	.bbk-sidebar.is-minimized:hover {
		width: 250px;
	}

	.bbk-sidebar.is-minimized:hover .bbk-sidebar__brand-text {
		display: block;
	}

	.bbk-sidebar.is-minimized:hover .bbk-sidebar__brand-img {
		margin-right: 15px;
	}

	.bbk-sidebar.is-minimized:hover .bbk-sidebar__title {
		display: block;
	}

	.bbk-sidebar.is-minimized:hover .bbk-sidebar__item.has-submenu > .bbk-sidebar__link::after {
		display: block;
	}

}
