/* ==========================================================================
   #RATING
   ========================================================================== */

/**
 * A list of starts aligned horizontally to show the current rating of an item.
 *
 * EXAMPLE:
 *
 * <div class="bbk-rating">
 *      <i class="bbk-rating__icon is-active fa fa-star"></i>
 *      <i class="bbk-rating__icon is-active fa fa-star"></i>
 *      <i class="bbk-rating__icon is-active fa fa-star"></i>
 *      <i class="bbk-rating__icon is-active fa fa-star"></i>
 *      <i class="bbk-rating__icon fa fa-star"></i>
 *  </div>
 */

.bbk-rating {
	display: block;
}

.bbk-rating__icon {
	color: #BBBFC5;
	font-size: $text-small-font-size;

	&.is-active {
		color: #FDBC0E;
	}
}
