/* ==========================================================================
   #ALERTS2
   ========================================================================== */

.bbk-alert {
	display: flex;
	position: relative;
	width: 100%;
	margin: $alert-margin;
	padding: $alert-padding;
	transition: all 0.3s;
	border-radius: $alert-border-radius;
	color: $alert-color;

	.bbk-close {
		position: absolute;
		top: $alert-close-top;
		right: $alert-close-right;
	}


	&.fade {
		transition: opacity 0.3s;
		opacity: 0;
		pointer-events: none;

		&.show {
			opacity: 1;
			pointer-events: none;
		}
	}
}


/**
 * 1. Align icon with text properly.
 */

.bbk-alert__icon {
	position: relative;
	bottom: -4px; /* [1] */
	margin-right: $alert-icon-margin-right;
	font-size: $alert-icon-font-size;
	opacity: $alert-icon-opacity;
}


/* Style variants
   ========================================================================== */

.bbk-alert--success {
	background-color: $alert-success-background-color;
}

.bbk-alert--info {
	background-color: $alert-info-background-color;
}

.bbk-alert--warning {
	background-color: $alert-warning-background-color;
}

.bbk-alert--danger {
	background-color: $alert-danger-background-color;
}

#toast-container>div,#toast-container>:hover {
	box-shadow: none !important;
}